% [BLOCK_START:[[ block_id ]]:TYPE:heading]
[# if level == 1 #]\chapter{ [[ text ]] }
[# elif level == 2 #]\section{ [[ text ]] }
[# else #]\subsection{ [[ text ]] }
[# endif #]
% [BLOCK_END:[[ block_id ]]]