\begin{figure}[htbp]
    \centering
    \includegraphics[width=[[ width | default(0.8) ]]\textwidth]{[[ image_path ]]}
    \caption{[[ caption | default("Название рисунка") | escape_latex ]]}
    \label{fig:[[ block_id ]]}
\end{figure}