% [BLOCK_START:[[ block_id ]]:TYPE:image]
\begin{figure}[htbp]
    \centering
    \includegraphics[width=[[ width | default(0.8) ]]\textwidth]{ [[ image_path ]] }
    \caption{ [[ caption ]] }
    \label{fig:[[ block_id ]]}
\end{figure}
% [BLOCK_END:[[ block_id ]]]