\begin{table}[htbp]
    \caption{ [[ caption | default("Таблица") | escape_latex ]] }
    \label{tab:[[ block_id ]]}
    \begin{tabularx}{\textwidth}{ [[ column_spec | default('|X|X|') ]] }
        \toprule
        [[ header_row ]] \\
        \midrule
        [[ body_rows ]]
        \bottomrule
    \end{tabularx}
\end{table}