\begin{center}
	\textbf{РЕФЕРАТ}\\[3mm]
\end{center}

Выпускная квалификационная работа по теме: <<[[ doc.title ]]>>.

Объект исследования --- [[ doc.object_research | default("процесс автоматизации подготовки документов") ]].

Цель работы --- [[ doc.goal_research | default("проектирование и реализация серверной части системы") ]].

[# if doc.abstract_text #]
[[ doc.abstract_text ]]
[# else #]
В ходе работы был выполнен анализ существующих решений, спроектирована архитектура приложения на базе Django и реализован механизм генерации документов.
[# endif #]

\vspace{5mm}
\noindent Ключевые слова: [[ doc.keywords | default("DJANGO, LATEX, АВТОМАТИЗАЦИЯ") ]].